html, body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow: hidden;
  font-family: Century Gothic;
}

scene {
  width: 1920px;
  height: 1080px;
  display: inline-block;
  position: absolute;
}
  
canvas {
  width: 100%;
  height: 100%;
}

/* Splashscreen */
dialog[type="splash"] {
  background-image: url("Images/Backgrounds/starry.gif");
  background-repeat: repeat;
  background-size: contain;
  width: 100%;
  /* height: auto; */
}

dialog[type="splash"] > p {
  font-size: 2vmin;
  color: white;
  text-align: center;
}

#FudgeStoryLogo {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.choicesCSSclass {
  background-color: lightcoral;
}

speech {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.500);
  width: 100%;
  height: 25%;
  font-size: 25px;
}

speech name {
  display: block;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
} 

speech content {
  position: absolute;
  margin-left: 50px;
  margin-right: 50px;
}

.menu {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.500);
  border: none;
  height: 3%;
}

.menu button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
}

.menu button:hover {
  background: none;
  border: none;
  color: silver;
}

.decisionClass[open] {
  background-color: rgba(0, 0, 0, 0.500);
  border: none;
  display: flex;
  flex-direction: column;
}

.decisionClass button {
  border: none;
  background: none;
  color: white;
  font-family: Century Gothic;
  font-size: 30px;
  padding: 5px;
}

.decisionClass button:hover {
  background-color: rgba(0, 0, 0, 0.750);
}

dialog[type="inventory"] {
  background-color: rgba(0, 0, 0, 0.500);
  color: white;
  border: none;
  top: -200px;
}

dialog[type="inventory"] > button{
  font-family: Century Gothic;
  font-size: 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0.750);
  color: white;
}

dialog[type="inventory"] > ul{
  padding-left: 50px;
}

dialog[type="inventory"] > ul > li{
  color: white;
  list-style: none;
  display: flex;
  flex-direction: row;
  height: 80px;
  align-items: center;
}

dialog[type="inventory"] img {
  position: absolute;
  left: 10px;
  width: 50px;
}

dialog[type="inventory"] > ul > li > name{
  width: 150px;
  color: white;
  font-weight: bold;
}

dialog[type="inventory"] > ul > li > amount{
  width: 50px;
  color: white;
}

dialog[type="inventory"] > ul > li > description{
  color: white;
}

input {
  background-color: lightgray;
  border: none;
  height: 25px;
}

